    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 16px;
    margin: 5px;
}

button {
    background: #0078ff;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    margin-top: 10px;
}

#result {
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
    color: #000;  
    background-color: #e0f7fa;
    padding: 15px;
    border-radius: 10px;
    min-height: 40px;
    border: 1px solid #ccc;
    text-align: center;
}
